:root {
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --pageBgColor: #f3f2f5;
  --topBgColor: #dad7e0;
  --menuOpenColor: #070033;
  --menuCloseColor: #5d5a88;
  --menuBorderColor: #d4d2e3;
  --grayColor: #848484;
  --grayBorderColor: #b5b5b5;
  --darkGrayColor: #474747;
  --blueColor: #1d90f5;
  --blueHoverColor: #1a7ed7;
  --blueActiveColor: #0f69b8;
  --darkBlueColor: #041d33;
  --greenColor: #009966;
  --borderColor: #ebebeb;
  --tableCaptionColor: #0c0c0d;
  --tableTextColor: #030000;
  --tableBorderColor: #d9d9d9;
  --tableHeaderColor: #b4b4b4;
  --spoilerBlueColor: #4184eb;
  --spoilerLightBlueColor: #7ba8ee;
  --spoilerTextColor: #404040;
  --popupBgColor: rgba(85, 85, 85, 0.2);
  --timerBdColor: #efefef;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Light.woff2") format("woff2"), url("../fonts/e-Ukraine-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Regular.woff2") format("woff2"), url("../fonts/e-Ukraine-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: e-LOGO;
  font-display: swap;
  src: url("../fonts/e-UkraineHead-LOGO.woff2") format("woff2"), url("../fonts/e-UkraineHead-LOGO.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../fonts/e-Ukraine-Medium.woff2") format("woff2"), url("../fonts/e-Ukraine-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-copied:before {
  content: "\e900";
}

._icon-copy:before {
  content: "\e901";
}

._icon-lang:before {
  content: "\e902";
}

._icon-qr-scan:before {
  content: "\e903";
}

/* <NULLSTYLE> ========== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

*:focus {
  outline: 0.125rem solid var(--blueColor);
  outline-offset: 0.125rem;
}

body:not(.user-is-tabbing) *:focus {
  outline: none;
}

/* </NULLSTYLE> ========== */

/* <COMMON> ================================================== */

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex: 1 0 auto;
  padding-top: 3rem;
}

.page__container {
  position: relative;
}

.page__top,
.page__about {
  margin-bottom: 3.375rem;
}

.footer {
  flex: 0 0 auto;
}

body {
  font-family: "e-Ukraine", sans-serif;
  color: var(--blackColor);
  background: var(--pageBgColor);
  min-height: 100%;
  width: 100%;
}

.lock {
  overflow-y: hidden;
}

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.title-1,
h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.35;
}

.title-2,
h2 {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.4285714286;
}

.title-3,
h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

/* </COMMON> ================================================== */

/* <COMPONENTS> ========== */

.btn {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: background-color 0.2s;
}

.btn--support {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  padding: 1rem;
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

.btn--support:active {
  background-color: var(--blueActiveColor);
}

.header .btn--support {
  width: -moz-max-content;
  width: max-content;
  min-width: 9.1875rem;
  padding: 1rem;
  order: 3;
  margin-top: auto;
  width: 100%;
}

/* </COMPONENTS> ========== */

/* <HEADER> ==================================================*/

.icon-menu {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 1.5rem;
  width: 2rem;
  padding: 0.25rem;
  margin: -0.25rem;
  aspect-ratio: 1/1;
  background-color: inherit;
  z-index: 10;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  left: 0.4375rem;
  position: absolute;
  height: 0.125rem;
  width: 75%;
  width: 56.25%;
  transition: all 0.3s ease 0s;
  background-color: var(--menuOpenColor);
}

.icon-menu::before {
  top: 0.5rem;
}

.icon-menu::after {
  bottom: 0.5rem;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  transform: scale(0);
}

.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  border-radius: 0.125rem;
  background-color: var(--menuCloseColor);
  width: 100%;
  left: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
}

.logo {
  height: 100%;
  border-radius: 0.5rem;
}

.logo__img {
  display: block;
}

.logo__img img {
  width: 6.25rem;
  aspect-ratio: 1/1;
}

.logo__text {
  font-family: e-LOGO;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--whiteColor);
  color: var(--darkBlueColor);
  padding: 0.25rem 0;
  z-index: 1;
  transition: transform 0.2s linear;
}

.header.hide {
  transform: translate(0, -100%);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__logo {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-right: auto;
}

.header__logo img {
  width: 2.5rem;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  z-index: 1;
}

.menu {
  margin-left: 1rem;
  order: 1;
}

.menu__body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 16.5625rem;
  position: fixed;
  right: -16.5625rem;
  height: calc(100vh - 3rem);
  padding: 1.5rem 1.25rem 2.5rem 1.875rem;
  top: 3rem;
  z-index: 10;
  background-color: var(--whiteColor);
  border-top: 0.0625rem solid var(--menuBorderColor);
  border-left: 0.0625rem solid var(--menuBorderColor);
  visibility: hidden;
  transition: right 0.5s, visibility 0.5s;
}

.menu-open .menu__body {
  overflow-x: auto;
  right: 0;
  visibility: visible;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0 -1.25rem 0 -1.875rem;
}

.menu__item {
  width: 100%;
}

.menu__link {
  display: block;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  padding: 0.875rem 1.875rem;
  line-height: 1.125;
  transition: color 0.3s, background-color 0.3s;
}

.menu__link:active {
  background-color: var(--pageBgColor);
}

/* </HEADER> ================================================== */

/* <FOOTER> ==================================================*/

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1.25rem 3.75rem;
  gap: 1.5rem;
  border-radius: 1.25rem 1.25rem 0 0;
  background-color: var(--whiteColor);
}

.footer__text {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.4285714286;
}

/* </FOOTER> ================================================== */

/* <MAIN> ================================================== */

.switch-language__body {
  position: relative;
}

.switch-language__btn {
  display: none;
}

.switch-language__item {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-transform: uppercase;
}

.switch-language__item:last-child {
  margin-left: -0.625rem;
}

.switch-language__item.active {
  color: var(--blueColor);
  cursor: default;
}

.switch-language__link {
  border-radius: 0.5rem;
  padding: 0.875rem 0.625rem;
  transition: color 0.3s, background-color 0.3s;
}

.goal.page__goal {
  display: none;
}

.goal__container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  background-color: var(--whiteColor);
  border-radius: 1.25rem;
  width: 100%;
}

.page__goal .goal__container {
  border: 0.0625rem solid var(--borderColor);
}

.goal__tag {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.goal__title {
  margin-bottom: 1.25rem;
}

.goal__amount {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.goal__amount span::before {
  content: "$";
}

.goal__current {
  font-size: 0.9375rem;
  font-weight: 500;
}

.goal__total {
  font-weight: 300;
}

.timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer:not(:last-child) {
  margin-bottom: 1rem;
}

.timer__time-block,
.timer__time {
  border-radius: 1.875rem;
  transform: scale(-1, 1);
}

.timer__time-block {
  width: 100%;
  cursor: default;
  background: conic-gradient(var(--blueActiveColor) 0 0%, var(--timerBdColor) 0% 100%);
  padding: 0.125rem;
}

.timer__time {
  width: 100%;
  height: 100%;
  background: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__time dl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1875rem;
  padding: 0.5rem;
}

.timer__time dt {
  display: flex;
  justify-content: center;
  min-width: 1.25rem;
  color: var(--darkBlueColor);
  font-size: 0.8125rem;
  line-height: 1.3846153846;
}

.timer__time dd {
  color: var(--darkGrayColor);
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 1.4;
}

.top {
  background-color: var(--topBgColor);
  border-radius: 1.25rem;
  margin-top: 20px;
}

.top__container {
  height: 100%;
  padding: 2rem 1.25rem 0;
}

.top__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top__titles:not(:last-child) {
  margin-bottom: 2.5rem;
}

.top__title {
  color: var(--darkBlueColor);
}

.top__title:not(:last-child) {
  margin-bottom: 1rem;
}

.top__text {
  font-size: 1.0625rem;
  line-height: 1.4117647059;
}

.about__container {
  padding: 0;
}

.about__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about__descr {
  font-size: 1.0625rem;
  line-height: 1.6470588235;
}

.about__descr:not(:last-child) {
  margin-bottom: 1.2em;
}

.about__text-block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about__text-block p {
  line-height: 1.5;
}

.about__text-block p:not(:last-child) {
  margin-bottom: 1em;
}

.about__picture {
  display: block;
  width: 100%;
  aspect-ratio: 732/360;
}

.about__picture img {
  height: 100%;
  width: 100%;
  border-radius: 1.25rem;
}

.about__dare {
  font-weight: 500;
  line-height: 1.25;
  padding: 1.25rem;
  background-color: var(--whiteColor);
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--borderColor);
}

.requisites__container {
  color: var(--whiteColor);
  background-color: var(--darkBlueColor);
  border-radius: 1.25rem;
  padding: 2rem 1rem;
}

.requisites__title:not(:last-child) {
  margin-bottom: 1rem;
}

.requisites__text {
  font-size: 0.875rem;
  line-height: 1.4285714286;
  max-width: 25rem;
}

.requisites__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.requisites__donation {
  grid-row: span 2;
}

.requisites .timer__time {
  background-color: var(--darkBlueColor);
}

.requisites .timer__time dt {
  color: var(--whiteColor);
}

.requisites .timer__time dd {
  color: var(--grayColor);
}

.requisites .goal__container {
  background-color: inherit;
  border: 0.0625rem solid rgba(255, 255, 255, 0.8);
}

.requisites .goal__container:not(:last-child) {
  margin-bottom: -0.0625rem;
}

.donation__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation__top:not(:last-child) {
  margin-bottom: 1.25rem;
}

.donation__tag {
  opacity: 0.6;
  font-weight: 300;
  font-size: 0.75rem;
}

.donation__sum {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  line-height: 3.25rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.donation__sum label {
  position: absolute;
  width: 0;
  overflow: hidden;
  height: 0;
}

.donation__sum:not(:last-child) {
  margin-bottom: 1.25rem;
}

.donation__sum::after {
  position: absolute;
  content: "";
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/requisites/line.svg") center/cover no-repeat;
}

.donation__input {
  width: 100%;
  font-weight: 500;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  -moz-appearance: textfield;
}

.donation__input::-webkit-outer-spin-button,
.donation__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donation__currency {
  opacity: 0.5;
  font-size: 1.25rem;
}

.donation__text {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1.3846153846;
}

.donation__text:not(:last-child) {
  margin-bottom: 0.5rem;
}

.donation__options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.donation__options:not(:last-child) {
  margin-bottom: 1rem;
}

.donation__option {
  padding: 0.3125rem;
  border-radius: 3.125rem;
  background-color: var(--whiteColor);
  color: var(--darkBlueColor);
  border: 0.0625rem solid transparent;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.donation__option:focus {
  outline-offset: 0;
  z-index: 1;
}

.donation__option:active {
  background-color: #70bcff;
  border-color: #70bcff;
  color: var(--whiteColor);
}

.donation__option.is-active {
  background-color: var(--blueColor);
  border-color: var(--blueColor);
  color: var(--whiteColor);
}

.card,
.crypto__inner,
.donation {
  border-radius: 0.75rem;
  padding: 1rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.8);
}

.crypto__title:not(:last-child),
.card__title:not(:last-child) {
  margin-bottom: 1rem;
}

.crypto__item,
.card__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 0.625rem;
}

.crypto__item:not(:last-child),
.card__item:not(:last-child) {
  margin-bottom: 1rem;
}

.card {
  margin-bottom: -0.0625rem;
}

.donation {
  margin-bottom: -0.0625rem;
}

.card__num,
.crypto__name {
  line-height: 1.5;
}

.crypto__info {
  width: 100%;
  max-width: calc(100% - 4.75rem);
}

.crypto__name {
  margin-bottom: 0.1875rem;
}

.crypto__address {
  font-size: 0.8125rem;
  line-height: 1.5384615385;
  opacity: 0.8;
  word-wrap: break-word;
}

.crypto__actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 3.75rem;
}

.qr-code,
.copy-btn {
  font-size: 1.5rem;
  border-radius: 0.125rem;
  position: relative;
}

.qr-code .tooltip,
.copy-btn .tooltip {
  visibility: hidden;
  opacity: 0;
  width: -moz-max-content;
  width: max-content;
  max-width: 12.5rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.3125rem;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  right: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s;
  word-wrap: break-word;
}

.qr-code .tooltip::before,
.copy-btn .tooltip::before {
  content: "";
  position: absolute;
  top: -0.0625rem;
  right: -0.0625rem;
  bottom: -0.0625rem;
  left: -0.0625rem;
  border: 0.0625rem solid #fff;
  border-radius: 0.375rem;
  z-index: -2;
}

.qr-code .tooltip::after,
.copy-btn .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0.4375rem;
  margin-left: -0.3125rem;
  border-width: 0.3125rem;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.qr-code .tooltip.show,
.copy-btn .tooltip.show {
  visibility: visible;
  opacity: 1;
}

.qr-code:focus .tooltip,
.copy-btn:focus .tooltip {
  visibility: visible;
  opacity: 1;
}

body:not(.user-is-tabbing) .qr-code:focus,
body:not(.user-is-tabbing) .copy-btn:focus {
  outline: none;
}

.prize {
  margin-bottom: 3.375rem;
}

.prize__container {
  position: relative;
  background-color: var(--blueColor);
  color: var(--whiteColor);
  padding: 2rem 1rem;
  border-radius: 1.25rem;
}

.prize__title {
  max-width: 29.8125rem;
}

.prize__picture {
  display: block;
  position: relative;
  margin-top: 1.4375rem;
  max-width: 19.0625rem;
  width: 100%;
  margin: 1.4375rem 0 0 auto;
  /* 756/1360 */
}

.prize__picture img {
  margin: 2.970297%;
  width: 93.39934%;
  border-radius: 1.25rem;
  transform: rotate(4deg);
  aspect-ratio: 199/189;
}

.transaction {
  margin-bottom: 3.375rem;
}

.transaction__title,
.transaction__history {
  background-color: var(--whiteColor);
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--borderColor);
  padding: 1rem;
}

.transaction__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.125rem;
}

.transaction__title:not(:last-child) {
  margin-bottom: -0.0625rem;
}

.transaction__title span {
  color: var(--blueColor);
  font-size: 0.875rem;
}

.transaction__title span::before {
  content: "$";
}

.transaction__history table {
  min-width: 100%;
  font-weight: 500;
}

.transaction__history caption {
  color: var(--tableCaptionColor);
  text-align: left;
  line-height: 1.5;
}

.transaction__history caption:not(:last-child) {
  margin-bottom: 0.75rem;
}

.transaction__history tr {
  display: flex;
}

.transaction__history tr:not(:last-child) {
  border-bottom: 0.0625rem solid var(--tableBorderColor);
  padding-bottom: 1.0625rem;
}

.transaction__history th,
.transaction__history td {
  width: 20%;
}

.transaction__history th:nth-child(1),
.transaction__history td:nth-child(1) {
  width: 30%;
  text-align: left;
}

.transaction__history th:nth-child(3),
.transaction__history td:nth-child(3) {
  width: 50%;
}

.transaction__history th:nth-child(2),
.transaction__history th:nth-child(3),
.transaction__history td:nth-child(2),
.transaction__history td:nth-child(3) {
  margin-left: 10%;
}

.transaction__history thead tr {
  border-bottom: 0.0625rem solid var(--tableBorderColor);
  padding-bottom: 0.75rem;
}

.transaction__history thead th {
  color: var(--tableHeaderColor);
  font-size: 0.75rem;
  line-height: 1.5;
}

.transaction__history tbody tr {
  margin-top: 1.0625rem;
}

.transaction__history tbody td {
  text-align: center;
  color: var(--tableTextColor);
  font-size: 0.6875rem;
}

.faq {
  margin-bottom: 3.375rem;
}

.faq__title {
  margin-bottom: 1.25rem;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.25rem;
  background-color: var(--whiteColor);
  color: var(--spoilerTextColor);
  border: 0.0625rem solid var(--borderColor);
  border-radius: 2.5rem;
}

.faq__item:not(:last-child) {
  margin-bottom: -0.0625rem;
}

.faq__item-title {
  width: 85%;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3;
}

.faq__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s;
}

.faq__btn::after,
.faq__btn::before {
  content: "";
  background-color: var(--blueColor);
  position: absolute;
  width: 0.875rem;
  height: 0.125rem;
  transition: transform 0.3s, background-color 0.5s;
}

.faq__btn::after {
  transform: rotate(90deg);
}

.faq__btn._spoiler-active {
  background-color: var(--spoilerLightBlueColor);
}

.faq__btn._spoiler-active::after,
.faq__btn._spoiler-active::before {
  background-color: var(--whiteColor);
}

.faq__btn._spoiler-active:before {
  transform: scale(0.8);
}

.faq__btn._spoiler-active::after {
  transform: rotate(0) scale(0.8);
}

.faq__text {
  width: 90%;
  min-width: 14.375rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.6;
}

.faq__mail {
  color: var(--blueColor);
  transition: color 0.3s;
}

.faq__mail:active {
  color: var(--blueActiveColor);
}

/* </MAIN> ================================================== */

/* <POPUP> ==================================================*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 85, 85, 0.2);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  overflow-y: auto;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
}

.popup.is-active {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 1.875rem 1.25rem;
}

.popup__content {
  background-color: var(--whiteColor);
  border-radius: 0.625rem;
  max-width: 28.125rem;
  padding: 1.875rem 0.75rem;
  position: relative;
  transition: all 0.3s;
  opacity: 0;
  transform: scale(0.8);
}

.is-active .popup__content {
  transform: scale(1);
  opacity: 1;
}

.popup__btn-close {
  position: absolute;
  right: 1rem;
  top: 1.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.3125rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s;
  background-color: var(--blueColor);
}

.popup__btn-close::after,
.popup__btn-close::before {
  content: "";
  background-color: var(--whiteColor);
  position: absolute;
  width: 0.75rem;
  height: 0.125rem;
  transition: transform 0.3s, background-color 0.5s;
}

.popup__btn-close::before {
  transform: rotate(-45deg);
}

.popup__btn-close::after {
  transform: rotate(45deg);
}

.popup__title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
  padding: 0 2.5rem;
  font-size: 1.5rem;
}

.popup__picture {
  max-width: 100%;
  height: 100%;
}

.popup__picture img {
  height: 100%;
  width: 100%;
}

/* </POPUP> ================================================== */

@media (min-width: 22.5em) {
  .title-1,
  h1 {
    font-size: 2.5rem;
  }

  .transaction__title span {
    font-size: 1.25rem;
  }
}

@media (min-width: 23.75em) {
  .transaction__title {
    font-size: 1.25rem;
  }
}

@media (min-width: 31.25em) {
  .popup__content {
    padding: 1.875rem 3.125rem;
  }

  .popup__btn-close {
    right: 1.875rem;
    top: 2.3125rem;
  }
}

@media (min-width: 37.5em) {
  .header .btn--support {
    padding: 0.5rem;
    width: auto;
  }

  .switch-language__btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    padding: 0.5rem 0.3125rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.2142857143;
    transition: color 0.2s, background-color 0.2s;
  }

  .switch-language__btn:not(:last-child) {
    margin-bottom: 0;
  }

  .switch-language__btn::before {
    font-size: 1.5rem;
  }

  .switch-language__list {
    background-color: var(--whiteColor);
    position: absolute;
    top: 3.0625rem;
    left: 0;
    box-shadow: 0 1.25rem 3rem rgba(177, 177, 177, 0.4);
    border-radius: 1rem;
    padding: 1.5rem 1.25rem 0.875rem;
  }

  .switch-language__item:last-child {
    margin: 0;
  }

  .switch-language__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .switch-language__link {
    padding: 0.625rem 0.75rem;
  }

  .top__container {
    padding-bottom: 1.25rem;
  }
}

@media (min-width: 42.5em) {
  .prize__container {
    display: flex;
    gap: 1.25rem;
  }

  .prize__title {
    width: 50%;
  }
}

@media (min-width: 43.75em) {
  .donation {
    margin: 0 0 -0.0625rem -0.0625rem;
  }
}

@media (min-width: 47.5em) {
  .prize__title {
    width: auto;
  }
}

@media (min-width: 53.75em) {
  .page__top,
  .page__about {
    margin-bottom: 3.75rem;
    padding-right: calc(71.8px + 476.2 * (100vw / 1440));
  }

  .title-1,
  h1 {
    font-size: 3.5rem;
    line-height: 1.1428571429;
    font-size: calc(-10.944px + 90.944 * (100vw / 1440));
  }

  .title-2,
  h2 {
    font-size: 2rem;
    line-height: 1.25;
  }

  .icon-menu {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 5.875rem;
  }

  .menu {
    order: 0;
    margin: 0;
  }

  .menu__body {
    display: block;
    padding: 0;
    position: relative;
    visibility: visible;
    width: auto;
    height: 100%;
    border: none;
    top: auto;
    right: auto;
    overflow: visible;
  }

  .menu__list {
    margin: 0;
  }

  .menu__item {
    width: auto;
    padding: 0;
  }

  .menu__item--mobile {
    display: none;
  }

  .menu__link {
    padding: 0.3125rem 0.3125rem;
    border-radius: 0.5rem;
  }

  .footer {
    border-radius: 1.875rem 1.875rem 0 0;
    padding: 2.5rem;
  }

  .footer__text {
    font-size: 2rem;
    line-height: 1.5;
  }

  .goal.page__goal {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.25rem;
    margin: 0;
    width: 26.375rem;
    padding: 1rem 1.25rem 0 0;
    width: calc(71.8px + 476.2 * (100vw / 1440));
  }

  .goal__title {
    margin-bottom: 0.625rem;
  }

  .timer:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 16.125rem;
    margin-top: 1.5rem;
  }

  .about__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .about__descr {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .about__dare {
    font-size: 1.125rem;
    line-height: 1.3333333333;
    padding: 1.5rem 1.25rem;
  }

  .requisites__text:not(:last-child) {
    margin-bottom: 2rem;
  }

  .requisites__text {
    max-width: 100%;
    width: 51.659292%;
  }

  .requisites__text {
    width: 55.792683%;
    /* 732/1312 */
  }

  .requisites__body {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 44.026549% 51.880531%;
    /* 469/904 */
    grid-template-columns: 39.939024% 55.792683%;
  }

  .donation__currency {
    font-size: 1.5rem;
  }

  .donation__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .donation__options:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .donation__option {
    padding: 0.375rem;
  }

  .card,
  .crypto__inner,
  .donation {
    border-radius: 1.25rem;
  }

  .crypto__item,
  .card__item {
    padding: 1rem 1.5rem;
    border: 1px solid var(--whiteColor);
    border-radius: 6.25rem;
  }

  .crypto__item:not(:last-child),
  .card__item:not(:last-child) {
    margin-bottom: -0.0625rem;
  }

  .card {
    margin: 0;
  }

  .donation {
    margin-bottom: -0.0625rem;
  }

  .prize {
    margin-bottom: 3.75rem;
  }

  .prize__title {
    max-width: 100%;
  }

  .prize__picture {
    position: absolute;
    max-width: 26.059322%;
    right: 6.764706%;
    bottom: 3.417969vw;
  }

  .prize__picture img {
    border-radius: 0.75rem;
  }

  .transaction {
    margin-bottom: 3.75rem;
  }

  .transaction__title {
    padding: 1.875rem;
    font-size: 2rem;
  }

  .transaction__title span {
    font-size: 1.5rem;
  }

  .transaction__history {
    padding: 1.5rem 1.25rem;
  }

  .transaction__history caption {
    font-size: 1.125rem;
  }

  .transaction__history caption:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .transaction__history tr:not(:last-child) {
    padding-bottom: 1.25rem;
  }

  .transaction__history tbody tr {
    margin-top: 1.125rem;
  }

  .transaction__history tbody td {
    font-size: 0.875rem;
  }

  .faq {
    margin-bottom: 3.75rem;
  }

  .faq__title {
    margin-bottom: 1.5rem;
  }

  .faq__item {
    padding: 1.75rem;
  }

  .faq__item-title {
    font-size: 1.125rem;
  }

  .faq__text {
    font-size: 0.9375rem;
  }
}

@media (min-width: 54.375em) {
  .menu__link:active {
    color: #70bcff;
    background-color: transparent;
  }

  .switch-language__btn:active {
    color: #70bcff;
    background-color: transparent;
  }

  .switch-language__link:active {
    color: #70bcff;
    background-color: transparent;
  }
}

@media (min-width: 56.25em) {
  [class*=__container] {
    padding: 0 2.5rem;
  }

  .goal.page__goal {
    right: 2.5rem;
  }

  .popup__body {
    padding: 1.875rem 2.5rem;
  }
}

@media (min-width: 56.25em), (min-width: 53.75em) {
  .goal__container {
    margin: 0;
    top: 5.25rem;
    bottom: 0;
    padding: 1rem;
  }

  .page__goal .goal__container {
    position: sticky;
  }

  .top__container {
    margin: 0;
    padding: 2.5625rem 1.25rem;
    padding-right: 2.25rem;
  }

  .about__container {
    padding: 0;
    padding-right: 2.25rem;
  }

  .requisites__container {
    padding: 2rem 1.25rem;
  }

  .prize__container {
    padding: 1.75rem 40% 1.75rem 1.25rem;
    /* 430/944 */
  }
}

@media (min-width: 66.25em) {
  .page {
    padding-top: 5.625rem;
  }

  .page__top,
  .page__about {
    margin-bottom: 5rem;
  }

  .title-1,
  h1 {
    line-height: 1.075;
  }

  .title-2,
  h2 {
    font-size: 2.375rem;
    line-height: 1.0526315789;
  }

  .title-3,
  h3 {
    font-size: 1.5rem;
    line-height: 1.3333333333;
  }

  .header .btn--support {
    padding: 1rem;
    min-width: 9.5625rem;
  }

  .logo__text {
    font-size: 1.125rem;
    padding: 0 0.8125rem;
  }

  .header {
    padding: 0.9375rem 0;
  }

  .header.hide {
    transform: translate(0, -5.625rem);
  }

  .header__logo {
    margin-right: 3.5rem;
  }

  .header__logo img {
    width: 3.75rem;
  }

  .header__actions {
    gap: 1.25rem;
  }

  .menu__link {
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.125;
  }

  .footer {
    padding: 3.75rem 5.875rem 5rem 2.375rem;
  }

  .footer__logo img {
    width: 7.5rem;
  }

  .footer__text {
    font-size: 2.375rem;
    line-height: 1.4736842105;
  }

  .switch-language__btn {
    font-size: 1rem;
    line-height: 1.1875;
    padding: 0.75rem 0.4375rem;
    gap: 0.4375rem;
  }

  .switch-language__list {
    padding: 1.5rem 1.25rem 0.875rem;
    top: 4.625rem;
  }

  .switch-language__item {
    font-size: 1.0625rem;
    line-height: 1.5294117647;
  }

  .switch-language__link {
    padding: 0.625rem 1rem;
  }

  .goal.page__goal {
    padding: 2.5rem 1.5rem 0 0;
  }

  .goal__container {
    top: 8.625rem;
    border-radius: 1.875rem;
    padding: 1.5rem;
  }

  .goal__tag {
    margin-bottom: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1.3846153846;
  }

  .goal__title {
    margin-bottom: 1.5rem;
  }

  .goal__amount {
    font-size: 0.875rem;
    margin-bottom: 0.8125rem;
  }

  .goal__current {
    font-size: 1.125rem;
  }

  .timer:not(:last-child) {
    margin-bottom: 2rem;
  }

  .timer__time dl {
    gap: 0.25rem;
  }

  .timer__time dt {
    min-width: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.5555555556;
  }

  .timer__time dd {
    font-size: 0.8125rem;
    line-height: 1.3846153846;
  }

  .top {
    margin-top: 0.5rem;
    min-height: 24.1875rem;
    border-radius: 1.875rem;
  }

  .top__container {
    padding: 4.75rem 1.5rem;
    padding-right: 2.5rem;
  }

  .top__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .top__text {
    font-size: 1.125rem;
    line-height: 1.5555555556;
  }

  .about__container {
    padding-right: 5rem;
  }

  .about__text-block:not(:last-child) {
    margin-bottom: 2rem;
  }

  .about__picture img {
    border-radius: 1.875rem;
  }

  .about__dare {
    font-size: 1.375rem;
    line-height: 1.4545454545;
    padding: 2.5rem 1.5rem;
    border-radius: 1.875rem;
  }

  .requisites__container {
    border-radius: 1.875rem;
    padding: 2.5rem 1.5rem 3.375rem;
  }

  .requisites__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .donation__top:not(:last-child) {
    margin-bottom: 2rem;
  }

  .donation__tag {
    font-size: 0.875rem;
  }

  .donation__sum {
    padding-bottom: 0.75rem;
  }

  .donation__sum:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .donation__input {
    font-size: 3rem;
  }

  .donation__currency {
    font-size: 2rem;
  }

  .donation__text {
    font-size: 0.875rem;
    line-height: 2;
  }

  .donation__text:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .donation__options:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .donation__option {
    padding: 0.5rem;
  }

  .card,
  .crypto__inner,
  .donation {
    border-radius: 1.875rem;
    padding: 1.5rem;
  }

  .crypto__title:not(:last-child),
  .card__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .crypto__item,
  .card__item {
    padding: 1rem 2rem;
  }

  .prize {
    margin-bottom: 5rem;
  }

  .prize__container {
    padding: 2.5rem 53.897059% 2.5rem 3.75rem;
    /* 733/1360 */
    border-radius: 1.875rem;
    /* 587/1312 */
  }

  .prize__picture {
    max-width: 31.029412%;
    min-width: 25rem;
    right: 13.382353%;
    right: 6.676038%;
    bottom: 2.916667vw;
  }

  .prize__picture img {
    border-radius: 1.25rem;
  }

  .transaction {
    margin-bottom: 5rem;
    max-width: 48.75rem;
  }

  .transaction__title,
  .transaction__history {
    border-radius: 1.875rem;
  }

  .transaction__title {
    font-size: 2.375rem;
  }

  .transaction__history th:nth-child(2),
  .transaction__history th:nth-child(3),
  .transaction__history td:nth-child(2),
  .transaction__history td:nth-child(3) {
    margin-left: 33%;
  }

  .faq {
    margin-bottom: 5rem;
    max-width: 48.75rem;
  }

  .faq__title {
    margin-bottom: 2rem;
  }
}

@media (min-width: 71.25em) {
  .prize__picture {
    right: auto;
    left: 55.588235%;
  }
}

@media (min-width: 90.06125em) {
  .title-1,
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 30em) {
  .transaction__title {
    font-size: 1.75rem;
  }

  .popup__title {
    padding: 0 1.25rem;
  }
}

@media (min-width: 48em) {
  .page__top .goal__container {
    width: auto;
    max-width: 31.25rem;
    margin: 0;
  }

  .top__titles {
    margin: 0;
  }
}

@media (min-width: 62em) {
  .menu__list {
    -moz-column-gap: 0.5625rem;
         column-gap: 0.5625rem;
  }

  .menu__link {
    padding: 0.5rem 0.75rem;
  }
}

@media (min-width: 90em) {
  .page__top,
  .page__about {
    padding-right: 34.25rem;
  }

  .goal.page__goal {
    width: 34.25rem;
  }

  .prize__picture {
    bottom: 2.625rem;
  }
}

@media (max-width: 66.24875em) {
  .requisites .goal__container {
    padding: 1rem;
    border-radius: 0.75rem;
  }
}

@media (max-width: 37.49875em) {
  .switch-language__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }

  .page__top .goal__container {
    margin: 0 -1.25rem;
    width: calc(100% + 2.5rem);
  }
}

@media (max-width: 22.49875em) {
  .timer__time-block,
  .timer__time {
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  .timer__time dl {
    padding: 0;
    flex-wrap: wrap;
    gap: 0;
  }

  .timer__time dt {
    width: 100%;
    font-size: 0.9375rem;
  }

  .timer__time dd {
    font-size: 0.6875rem;
  }
}

@media (min-width: 48em) and (max-width: 53.74875em) {
  .top__container {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 21.25rem 1fr;
    padding-bottom: 2rem;
  }
}

@media (max-width: 53.74875em) and (min-width: 43.75em) {
  .requisites__inner {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 22.5em) and (max-width: 28.74875em) {
  .transaction__history th:nth-child(2),
  .transaction__history th:nth-child(3),
  .transaction__history td:nth-child(2),
  .transaction__history td:nth-child(3) {
    margin-left: 17%;
  }
}

@media (min-width: 28.75em) and (max-width: 47.99875em) {
  .transaction__history th:nth-child(2),
  .transaction__history th:nth-child(3),
  .transaction__history td:nth-child(2),
  .transaction__history td:nth-child(3) {
    margin-left: 25%;
  }
}

@media (min-width: 48em) and (max-width: 66.24875em) {
  .transaction__history th:nth-child(2),
  .transaction__history th:nth-child(3),
  .transaction__history td:nth-child(2),
  .transaction__history td:nth-child(3) {
    margin-left: 35%;
  }
}

@media (any-hover: hover) {
  .btn--support:hover {
    background-color: var(--blueHoverColor);
  }

  .btn--support:active {
    background-color: var(--blueActiveColor);
  }

  .menu__link:hover {
    color: var(--blueColor);
  }

  .menu__link:active {
    color: #70bcff;
  }

  .switch-language__btn:hover {
    color: var(--blueColor);
  }

  .switch-language__btn:active {
    color: #70bcff;
  }

  .switch-language__link:hover {
    color: var(--blueColor);
  }

  .switch-language__link:active {
    color: #70bcff;
  }

  .donation__option:hover {
    border-color: var(--blueColor);
  }

  .donation__option:active {
    border-color: #70bcff;
    background-color: #70bcff;
    color: var(--whiteColor);
  }

  .donation__option.is-active {
    background-color: var(--blueColor);
    border-color: var(--blueColor);
    color: var(--whiteColor);
  }

  .qr-code:hover .tooltip,
  .copy-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .faq__btn:hover {
    background-color: var(--spoilerLightBlueColor);
  }

  .faq__btn:hover::after,
  .faq__btn:hover::before {
    background-color: var(--whiteColor);
  }

  .faq__btn:hover::after {
    transform: rotate(90deg) scale(0.8);
  }

  .faq__btn:hover:before {
    transform: scale(0.8);
  }

  .faq__btn._spoiler-active {
    background-color: var(--spoilerLightBlueColor);
  }

  .faq__btn._spoiler-active::after,
  .faq__btn._spoiler-active::before {
    background-color: var(--whiteColor);
  }

  .faq__btn._spoiler-active:before {
    transform: scale(0.8);
  }

  .faq__btn._spoiler-active::after {
    transform: rotate(0) scale(0.8);
  }

  .faq__mail:hover {
    color: var(--blueHoverColor);
  }

  .faq__mail:active {
    color: var(--blueActiveColor);
  }

  .popup__btn-close:active,
  .popup__btn-close:hover {
    background-color: var(--spoilerLightBlueColor);
  }

  .popup__btn-close:active::after,
  .popup__btn-close:hover::after {
    transform: rotate(45deg) scale(0.8);
  }

  .popup__btn-close:active:before,
  .popup__btn-close:hover:before {
    transform: rotate(-45deg) scale(0.8);
  }
}